
.sized-container1{
    max-width: 1200px;
    margin: 0px 58px;
    padding: 4px 8px;
    flex: 1;
}

#banner1{
    min-height: 400px;
    background-color: lightgray;
    background-image: url("../images/lady.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain ;
}

