<header>
    <div class="container">
        <div class="header-logo">
            <h2>
                SHOPMATE
            </h2>
        </div>
        <div class="header-nav">
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Maps</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Learn More</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
            </ul>
        </div>
        <div class="header-icon">
            <i class="fas fa-search"></i>
            <i class="far fa-bell"></i>
        </div>

    </div>
        

</header>
